body {
	background-color: #a79e8d;
	max-width: 960px;
	min-width: 450px;
	margin: auto;
}

#content {
	background-color: #d3d3d3;
	position: relative;
	padding-top: 1px;
	padding-bottom: 52px;
}

#title {
	padding: 25px 30px 13px 15px;
}

.separator {
	border-top: 15px solid #a79e8d;
	overflow: auto
}

h1, h3, p, em, li {
	font-family: "Arial", Times;
	padding-right: 30px;
}

h3:before{
	content: url("https://internal.cs.ncl.ac.uk/modules/2016-17/csc1026/flags/css/12-dkgrey.png");
	margin-right: 10px;
	vertical-align: 5%;
}

#questions {
	padding-left: 15px;
}