body {
	background-color: #d27f31;
	max-width: 960px;
	min-width: 450px;
	margin: auto;
}

#content {
	background-color: #d3d3d3;
	position: relative;
	padding-top: 1px;
	padding-bottom: 52px;
}

.separator {
	border-top: 15px solid #d27f31;
	overflow: auto
}

#title, #options {
	padding-left: 15px;
}

h1, h2, p, li {
	font-family: "Arial", Times;
}

h2:before {
	content: url("https://internal.cs.ncl.ac.uk/modules/2016-17/csc1026/flags/css/20x12-dkgrey.png");
	margin-right: 10px;
	vertical-align: 5%;
}